pandas
plost
numpy
scipy
dill
tqdm
numpy
altair
openai
matplotlib
urllib3
lattpy
linear-tsv==1.1.0
llvmlite
lmfit==1.2.1
matplotlib==3.7.2
matplotlib-inline 
numexpr==2.8.4
numpy==1.24.1
numpydoc
opencv-contrib-python==4.6.0.66
opencv-python==4.7.0.72
packaging 
pandas==1.5.3
pandocfilters 
Pillow==9.4.0
scikit-image
scikit-learn
scikit-learn-intelex
streamlit
sympy
langchain[all]
langchain-communitiy
PyCrystallography
xrayutilities
xrdfit
streamlit_extras
